{% extends 'web_app/base.html' %}
{% load staticfiles %}
{% block content %}
{% verbatim %}
<div class="container" ng-app="productsApp">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-text" href="/">Products</a>
      </div>
    </div>
  </nav>
    <table ng-controller="productsCtrl" class="table table-striped">
      <tr ng-repeat="product in products | orderBy: 'priority'">
        <td>{{ product.name }}</td>
        <td>
          <span class="glyphicon glyphicon-remove" ng-if="product.priority === true"></span>
          <span class="glyphicon glyphicon-ok" ng-if="product.priority === false"></span>
        </td>
      </tr>
    </table>
</div>
{% endverbatim %}
<script src="{% static 'js/products_app.js' %}"></script>
{% endblock content %}
