{% extends 'web_app/base.html' %}
{% load staticfiles %}
{% block content %}
{% verbatim %}
<div class="container" ng-app="productsApp"
  <div class="container" ng-app="productsApp">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-text" href="/">Select products to priorize</a>
        </div>
      </div>
    </nav>
    <div ng-controller="productsCtrl" ng-init="page.get_products()">
      <div class="row">
        <div class="col-xs-8">
          <button ng_click="page.clean_update()" class="btn btn-default">Clean</button>
        </div>
        <div class="col-xs-2">
          <button ng-click="page.bulk_update(false)" class="btn btn-default pull-right">Mark as not priority</button>
        </div>
        <div class="col-xs-2">
          <button ng-click="page.bulk_update(true)" class="btn btn-primary pull-right">Mark as priority</button>
        </div>
      </div>
      <table class="table table-striped">
        <thead class="thead-default">
          <th>Select</th>
          <th>Product</th>
          <th>Priority</th>
        </thead>
        <tr ng-repeat="product in page.products | orderBy: '-priority'">
          <td><input type="checkbox" ng-click="page.toggle_mark_update(product)" ng-checked="page.check_update(product)"></td>
          <td>{{ product.name }}</td>
          <td>
            <span class="glyphicon" ng-click="page.toggle_priority(product)" ng-class="{'glyphicon-remove': !product.priority, 'glyphicon-ok': !!product.priority}"</span>
          </td>
        </tr>
      </table>
      <div class="row">
        <div class="col-xs-8">
          <button ng_click="page.clean_update()" class="btn btn-default">Clean</button>
        </div>
        <div class="col-xs-2">
          <button ng-click="page.bulk_update(false)" class="btn btn-default pull-right">Mark as not priority</button>
        </div>
        <div class="col-xs-2">
          <button ng-click="page.bulk_update(true)" class="btn btn-primary pull-right">Mark as priority</button>
        </div>
      </div>
    </div>
  </div>
{% endverbatim %}
<script src="{% static 'js/products_app.js' %}"></script>
{% endblock content %}
